.home{
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033); 
    background: linear-gradient(to right, #0b8793, #360033);
    min-height: 100vh;
    width: 100vw;
}