.displayStyle{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    min-height: 200px;
    background-color: light-gray;
    color: black;
    border: 2px solid lightblue;
}
.displayStyle:hover{
    background-color: lightgray;
}
.displayStyle h3{
    padding-top: 20px;
}